﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage_Test.master" AutoEventWireup="false" CodeFile="about-us.aspx.vb" Inherits="about_us" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    
    <section>
		<div class="rows inner_banner inner_banner_2">
			<div class="container">				
			  
			</div>
		</div>
	</section>
	
	

    <section class="tourb2-ab-p-2 com-colo-abou" >
		<div class="container">
		
				<p>www.fastgocash.com, a b2b travel portal, promoted by M/S Gandhi Services under the guidance Mr. Charandeep Singh Gandhi Chairman & Managing Director. It has been engaged in Travel and Tour Industry since 2013. We are providing travel related services to travel agents / corporate / Groups / Individual. Most of our staffs are working since more than 5 years with us and their experience helps you to get better rate and services...  We are located at Shop no 4 Zila Parishat Gate Opposite A D Basic Chaupla Road Bareilly.</p>
			<p>www.fastgocash.com is committed to provide the lowest rates and the best services to our Travel partners. Initially we are providing Air tickets, Domestic Money Transfer and Utilities. We are launching very soon IRCTC services, Bus etc. </p>
		
		</div>


		

	</section>


    




    

    

</asp:Content>

